body {
    background-image: url("../img/notepad_big.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.notepad-description {
    padding-top: 300px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .notepad-description > div {
    display: inline-block;
    padding: 20px;
} */