
.notepad-description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: block;
    margin: 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.notepad-description h2 {
    text-align: center;
}

.notepad-description p {
    text-align: center;
}

.center {
    text-align: center;
    width: 100%;
}

