
.notepad-mini {
  float: left;
  width: 90px;
  padding-top: 3px;
}

.main-name {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 38px;
  color: white;
  font-weight: bold;
  float: left;
  display: block;
  padding-top: 10px;
  padding-left: 6px;
}

input[type=submit] {
  padding:5px 15px; 
  background:blue; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.editor-container {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  padding-left: 8px;
  width: 892px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 0;
}

.form-content {
  padding-left: 8px;
  display: inline-block;
  width: 892px;
  font-size: 20px;
  height: 400px;
  vertical-align: top;
  border-radius: 4px;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 10px 30px;
  border-radius: 16px;
  margin-top: 10px;
  margin-left: 8px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  opacity: 0.7;
}

.login-button {
  background-color: blue;
  width: 120px;
}

.register-button {
  background-color: #6a2525;
}

.download-button {
  background-color: #21e707;
}

.save-button {
  background-color: #820dac;
}

.logout-button {
  background-color: #ac0d0d;
}