
.notepad-mini {
  float: left;
  width: 90px;
  padding-top: 3px;
}

.main-name {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 38px;
  color: white;
  font-weight: bold;
  float: left;
  display: block;
  padding-top: 10px;
  padding-left: 6px;
}

.navbar-custom {
  font-family: 'Ubuntu', sans-serif;
  height: 60px;
  overflow: hidden;
  background-color: black;
  border: none;
  display: flex;
  flex-direction: row;
}

.navbar-custom a{
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.navbar-custom a:active {
  opacity: 0.7;
} 

.navbar-custom-notepad {
  flex: 1;
}

.navbar-custom-home-about {
  width: 150px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 60px;
  font-size: 20px;
  color: white;
}

.navbar-custom-login {
  width: 150px;
  background-color: blue;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.navbar-custom-registration {
  width: 150px;
  background-color: #6a2525;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.start-text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 70px;
  text-align: center;
  display: block;
  margin-top: 300px;
}

.start-text p{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.central {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.central button {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 30px;
  padding: 10px 10px;
  border-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.central button:hover {
  background-color: white;
  color: black;
}

.central button:active {
  opacity: 0.7;
}