{% extends "users/base.html" %}
{% load static %} 

{% block title %} Password change done {% endblock %}

{% block content %}

<div class="body_bg layout_padding">
  <section class="contact_section">
    <div class="container">
      <div class="heading_container">
        <h2>
            Password change complete
        </h2>
      </div>
    </div>
    <div class="my-container contact_bg layout_padding2-top">
      <div class="col align-self-center">
        <p>Your password has been changed successfully.</p>
        <a href="{% url 'get_user_notes' username=user.username %}" > Get back </a>
      </div>
    </div>
  </section>
  <div class="body_bg layout_padding">
  </div> 
  
</div>

{% endblock %}