{% extends "users/base.html" %}
{% load static %} 

{% block title %} Password reset done {% endblock %}

{% block content %}

<div class="body_bg layout_padding">
  <section class="contact_section">
    <div class="container">
      <div class="heading_container">
        <h2>
            Reset Password
        </h2>
      </div>
    </div>
    <div class="my-container contact_bg layout_padding2-top">
      <div class="col align-self-center">
        <p>Please check your inbox and follow the instruction to reset your password.</p>
        <a href="{% url 'home' %}" > Back to home </a>
      </div>
    </div>
  </section>
  <div class="body_bg layout_padding">
  </div> 
  
</div>

{% endblock %}