{% extends "users/base.html" %}
{% load static %} 
{% load cache %} 

{% block title %} Registration {% endblock %}

{% block content %}

{% cache 100 registration %}

<div class="body_bg layout_padding">
  <section class="contact_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Registration
        </h2>
      </div>
    </div>
    <div class="my-container contact_bg layout_padding2-top">
        <div class="col align-self-center">
          <div class="contact_form">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %} 
              {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
              {% endfor %}
              <br/><br/>
              <div>
                <button class="register-button" type="submit" name="register">Sign up</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
</div>
<div class="body_bg layout_padding">
</div> 

{% endcache %}

{% endblock %}

