{% extends 'note/base.html' %} 
{% load static %} 


{% block title %}
User notes
{% endblock %}


{% block content %} 

<div class="body_bg layout_padding">
</div> 

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="font-weight-normal" scope="col">Title</th>
      <th class="font-weight-normal" scope="col">Time of creation</th>
      <th class="font-weight-normal" scope="col">Time of update</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in user_objects %}
    <tr>
      <th class="font-weight-normal">{{obj.title}}</th>
      <th class="font-weight-normal">{{obj.create}} </th>
      <th class="font-weight-normal">{{obj.update}} </th>
      <th class="font-weight-normal text-primary"><a href="{% url 'update_user_note' username obj.slug %}">Update</a></th> 
      <th class="font-weight-normal text-danger"><a href="{% url 'delete_user_note' username obj.slug %}">Delete</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="btn-box">
  <a href="{% url 'new_user_note' username=username %}" class="btn-1">
    New note
  </a>
  <a href="{% url 'password_change' username=username %}" class="btn-1">
    Change password
  </a>
</div>
<div class="body_bg layout_padding">
</div> 
<div class="body_bg layout_padding">
</div> 

{% endblock %}
