{% extends 'note/base.html' %} 
{% load static %} 


{% block title %}
User notes
{% endblock %}


{% block content %} 

<div class="body_bg layout_padding">
</div> 

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="font-weight-normal" scope="col">Title</th>
      <th class="font-weight-normal" scope="col">Time of creation</th>
      <th class="font-weight-normal" scope="col">Time of update</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in user_objects %}
    <tr>
      <th class="font-weight-normal">{{obj.title}}</th>
      <th class="font-weight-normal">{{obj.create}} </th>
      <th class="font-weight-normal">{{obj.update}} </th>
      <th class="font-weight-normal text-primary">Update</th>
      <th class="font-weight-normal text-danger">Delete</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="body_bg layout_padding">
</div> 
<div class="body_bg layout_padding">
</div> 
  
{% endblock %}
