{% extends 'base.html' %} 
{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'note/css/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'note/css/editor.css' %}" />
{% endblock %} 


{% block title %}
Editor
{% endblock %}

{% block content %} 

<div class="navbar-custom">
  <div class="navbar-custom-notepad">
    <a class="main-name" href="{% url 'home' %}">Notepad</a>
  </div>
  {% if user.is_authenticated %}
    <div class="navbar-custom-user">
      <a href="#">{{ user }}</a>
    </div>
    <div class="logout">
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <div class="navbar-custom-home-about">
      <a href="{% url 'home' %}">Home</a>
    </div>
    <div class="navbar-custom-home-about">
      <a href="{% url 'about' %}">About</a>
    </div>
    <div class="navbar-custom-user">
      <a href="#">{{ user }}</a>
    </div>
  {% endif %} 
</div>

<div class="editor-container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        {# {{field.errors}} #}
        <p>{{ field.label_tag }}</p>
        {% if field.label_tag == Content %}
          <div class="form-content">
            <p>{{ field }}</p>
          </div>
        {% else %}
          <p>{{ field }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
      <div>
        <button class="save-button" type="submit" name="save">Save</button>
        <button class="logout-button" type="submit" name="logout">Logout</button>
      </div>
    {% else %}
      <div>
        <button class="register-button" type="submit" name="register">Register</button>
        <button class="login-button" type="submit" name="login">Login</button>
        <button class="download-button" type="submit" name="download">Download</button>
      </div>
    {% endif %}
  </form>

</div> 

{% endblock %}

