{% extends 'base.html' %} 
{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
{% endblock %} 

{% block title %}
Login
{% endblock %}

{% block content %} 
<div class="notepad-container">
  <img class="notepad-image" src="{% static 'users/img/updnotepad.png' %}">
</div>
<div class="login-container">
  <p>Login to Notepad</p>
</div>
<div class="form-container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Username:</label>
    <input
      type="text"
      placeholder="Enter Username"
      name="username"
      required
    />
    <label>Password:</label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      required
    />
    <div class="button-container">
      <button class="login-button" type="submit">Login</button>
      <a class="forgot-password" href="{% url 'password_reset' %}">Forgot password? </a>
    </div>
  </form>
</div> 
<p class="create-user">
  New user? <span><a class="create-user-link" href="{% url 'register' %}">Create an account</a></span>
</p>
{% endblock %}

