{% extends 'base.html' %} 
{% load static %} 
{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}" />
{% endblock %} 


{% block title %}
Registration
{% endblock %}

{% block content %} 
<div class="notepad-container">
  <img class="notepad-image" src="{% static 'users/img/updnotepad.png' %}">
</div>
<div class="register-container">
  <p>Registration</p>
</div>
<div class="form-container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
      {% for field in form %}
        {{ field.errors }}
        <div class="fieldWrapper">
          {{ field.label_tag }}
        </div>
        <div class="fieldWrapper">
          {{ field }}
        </div>
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      {% endfor %}
      <br/><br/>
      <div>
        <button class="register-button" type="submit" name="register">Register</button>
        <button class="home-button" type="submit" name="home">Back to home</button>
      </div>
  </form>
</div>
{% endblock %}

